<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOS Louisville</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div id="main-nav" class="affix-top">

        <nav class="navbar">
            <div class="container">

                @*<div class="navbar-header">
                        <a href="index.html" class="navbar-brand">SOS</a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ftheme">
                            <span class="sr-only">Toggle</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>*@
                <div id="brandArea" style="height:100px; width:160px;">
                    <img class="hideMe" src="~/photos/SOSlogo.jpg" id="brandLogo" />
                    <a class="showMe brandText" href="/"></a>
                </div>

                <div class="navbar-collapse collapse" id="ftheme">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/Home/Index">Home</a></li>
                        <li><a href="/Home/AboutUs">About Us</a></li>
                        <li><a href="/Home/Gethelp">Get Help</a></li>
                        <li><a href="/Home/PatientReferral">Patient Referral</a></li>
                        <li><a href="/Home/Event">Events</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/Home/Contact">
                                Get Involved
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/VolunteerForm/PhysVolForm">Physician</a></li>
                                <li><a href="/VolunteerForm/NonPhysClinicalVolForm">Non-Physician Clinical</a></li>
                                <li><a href="/VolunteerForm/GeneralForm">General</a></li>
                                <li><a href="/VolunteerForm/MedicalInterpreterForm">Medical Interpreter</a></li>
                                <li><a href="/VolunteerForm/VolunteerCommentForm">Volunteer Comments</a></li>
                            </ul>
                        <li />
                        <li>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_donations">
                                <input type="hidden" name="business" value="SOSLouisville@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Surgery On Sunday Louisville">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </li>
                    </ul>
                </div>

                <div class="search-form">
                    <form lpformnum="1">
                        <input type="text" id="s" size="40" placeholder="Search...">
                    </form>
                </div>

                
                <div class="search-form">
                    <form lpformnum="1">
                        <input type="text" id="s" size="40" placeholder="Search...">
                    </form>
                </div>

            </div>
        </nav>
    </div>


    @* OLD NAV *@
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SOS Louisville", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Get Help", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Get Involved", "Contact", "Home")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/Home/Contact">
                                Get Involved
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/VolunteerForm/PhysVolForm">Physician</a></li>
                                <li><a href="/VolunteerForm/NonPhysClinicalVolForm">Non-Physician Clinical</a></li>
                                <li><a href="/VolunteerForm/GeneralForm">General</a></li>
                                <li><a href="/VolunteerForm/MedicalInterpreterForm">Medical Interpreter</a></li>
                                <li><a href="/VolunteerForm/VolunteerCommentForm">Volunteer Comments</a></li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Patient Referral", "Contact", "Home")</li>
                        <li>@Html.ActionLink("DONATE", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Events", "Contact", "Home")</li>
                        <li>
                            <select class="selectpicker" data-width="fit" style="margin-top:15px; padding-left:5px;">
                                <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                <option data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
                            </select>
                        </li>

                    </ul>
                    @Html.Partial("_LanguagePartial")
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-4 bottom-left">&copy; @DateTime.Now.Year - Surgery on Sunday Application</div>
                <div class="col-md-4 bottom-right text-center" style="font-weight:bold;">
                    Surgery on Sunday Louisville is a proud member partner of the National Colorectal Roundtable and is a member of the 80% by 2018 movement by the American Cancer Society
                </div>
                <div class="col-md-4 bottom-right">
                    PO Box 4757
                    Louisville, KY 40204
                    502-242-2089
                    info@soslouisville.org
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
